.header-tarefas {
    display: flex; /* Usar Flexbox para o layout */
    align-items: center; /* Alinhar itens verticalmente ao centro */
    justify-content: space-between; /* Distribuir espaço entre os itens */
    margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
    text-align: center;
    justify-content: center;
  }
  
  .notification {
    background-color: #007bff; /* Cor de fundo azul */
    color: #ffffff; /* Texto branco */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
    font-weight: bold; /* Texto em negrito */
    text-align: center; /* Centralizar o texto */
    min-width: 150px; /* Largura mínima para a notificação */
    margin-left: 20px; /* Espaçamento à esquerda */
  }
  
 